# =========================
# Scala / sbt
# =========================
target/
project/target/
project/project/

# Scala compiler
*.class
*.tasty

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# Metals / BSP
# =========================
.metals/
.bloop/
.bsp/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log